/* =================================================== */
// レイアウト - ヘッダー
/* =================================================== */
.l-header {
  width: 100vw;
  max-width: 100vw;
  padding: $space-s;
  background-color: transparent;

  &-sub-page {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-image: linear-gradient(
      120deg,
      rgba(255, 27, 179, 0.1) 10%,
      rgba(#34fcff, 0.2) 20%,
      rgba(255, 27, 179, 0.1) 40%,
      rgba(#6b97ff, 0.2) 90%
    );
    background-blend-mode: multiply;
  }

  &_inner {
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
  }

  &_logo {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 0;
    opacity: 1;
    transition: opacity 0.3s;

    @include hover {
      background: none;
      opacity: 0.7;
      transition: opacity 0.3s;
    }
  }

  &_logo-text {
    margin: auto;
    display: inline-block !important;
    width: fit-content;
    height: fit-content;
    font-size: $size-4;
    font-weight: 700;
    text-align: center;
    line-height: 1;

    @include mq-up(lg) {
      font-size: $size-2;
    }

    &:nth-of-type(1) {
      position: relative;
      color: $black;
    }

    &:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 0;
      color: $white;
    }

    &.is-active {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.3s;
    }

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }
  }

  &_btn {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    margin-right: 0;

    &.is-active {
      .l-header_btn-text-first {
        opacity: 0;
      }

      .l-header_btn-text-second {
        opacity: 1;
      }
    }

    .navbar-burger {
      width: 100%;
      margin: 0;
      background: none;

      @media screen and (min-width: 1024px) {
        display: block;
      }

      @include hover {
        background: none;
      }

      span {
        left: 0;
        width: 100%;
        background-color: $black;
      }

      &.is-active {
        span:first-child {
          transform: rotate(-15deg);
          background-color: $white;
        }

        span:nth-child(2) {
          transform: rotate(15deg);
          background-color: $white;
        }
      }
    }
  }

  &_btn-text {
    position: relative;
    width: 100%;

    &-first {
      display: inline-block;
      width: 100%;
      font-weight: 700;
      text-align: center;
      opacity: 1;
    }

    &-second {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      font-weight: 700;
      text-align: center;
      color: $white;
      opacity: 0;
    }
  }
}

.l-gnav {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  background-color: $primary;
  opacity: 0;
  transform: translateX(0);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 998;
  transition: opacity 0.3s, transform 0.3s;

  &.is-active {
    opacity: 1;
    transform: translateX(-100%);
    transition: opacity 0.3s, transform 0.3s;
  }

  &_inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 200px $space-s $space-xl;

    @include mq-up(md) {
      justify-content: center;
    }
  }

  &_item {
    margin-bottom: $space-s;
  }

  &_link {
    position: relative;
    display: inline-block;
    font-size: $size-4;
    color: $white;
    overflow: hidden;

    @include mq-up(md) {
      font-size: $size-3;
    }

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $white;
      transform: translateX(-100%);
      transition: transform 0.3s;
    }

    @include hover {
      &::before {
        transform: translateX(0);
        transition: transform 0.3s;
      }
    }
  }
}
